%html
  %head
    <style>body{margin:1em auto; width:660px;font-size:1.4em;line-height:1.4em;}#player{margin:1em 0}a{border: 1px solid silver;border-radius: 12px/15px;-moz-border-radius: 12px/15px;-webkit-border-radius: 12px 15px;background: lightgrey;background: -moz-linear-gradient(75% 19% -90deg,#E8E8E8, #BFBFBF 60%, #C2C2C2 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E8E8E8), to(#C2C2C2), color-stop(.6,#BFBFBF));padding: 0.3em 0.4em; text-decoration:none; color:black}</style>
  %body
    =yield